#!/bin/bash
git() {
	if [[ "$1" == "add" ]] &&
	   [[ "$2" == "-p" ]] || [[ "$2" == "--patch" ]]
	then
		tabs -c3
		if [[ "$#" -eq 2 ]]
		then
			command git add -p
		else
			command git add -p "$3"
		fi
		tabs -4
		#echo sukses
	else
		command git "$@"
	fi
}

rmd()
{
	pandoc $1 | lynx -stdin
}

dsize()
{
	echo "du -ah --max-depth=1 | sort -hr"
	du -ah --max-depth=1 | sort -hr
}

to()
{
	cd "$1"
	ls
}

gcheck()
{
	inen "$(enin "$1")"
}

mkcd()
{
	mkdir $1
	cd $1
}

cpcontent()
{
	echo "xsel -b < $1"
	xsel -b < $1
}

# Source: https://stackoverflow.com/a/638980/9157799
checkfile()
{
	if [ -f $1 ]
	then
		echo $1 found
	else
		echo $1 not found
	fi
}

# Source: https://stackoverflow.com/a/59839/9157799
checkdir()
{
	if [ -d $1 ]
	then
		echo $1 found
	else
		echo $1 not found
	fi
}

run()
{
	if [ ! -d Classes ]
	then
		mkdir Classes
		echo "mkdir Classes"
	fi

	# Source: https://stackoverflow.com/a/19858692/9157799
	if [ ${1: -5} = ".java" ]
	then
		# Source: https://stackoverflow.com/questions/27658675/how-to-remove-last-n-characters-from-a-string-in-bash#comment71002787_27658733
		1=${1:0:-5}
	fi

	if [ $# -eq 2 ] # Source: https://stackoverflow.com/a/6482403/9157799
	then
		echo "javac -d Classes -cp \"Jars/*:Packages:$2\" $1.java && java -cp \"Jars/*:Classes:$2\" $1"
		javac -d Classes -cp "Jars/*:Packages:$2" $1.java && java -cp "Jars/*:Classes:$2" $1
	else
		echo "javac -d Classes -cp \"Jars/*:Packages\" $1.java && java -cp \"Jars/*:Classes\" $1"
		javac -d Classes -cp "Jars/*:Packages" $1.java && java -cp "Jars/*:Classes" $1
	fi
}

cpac()
{
	if [ $1 = "" ]
	then
		echo "Please specify the source files location"
	else
		if [ ! -d Classes ]
		then
			dqt='"'
			mkdir Classes
			echo "${dqt}Classes${dqt} directory created"
		fi

		if [ $# -eq 1 ]
		then
			javac -d Classes $(find $1 -name '*.java')
		else
			javac -d Classes -cp $2 $(find $1 -name '*.java')
		fi
	fi
}

# ! Use quotation mark if you use more than 1 word
#	findfile 'ompetiti*gram'
findfile()
{
	find . -name "*$1*"
}

copy()
{
	if [ $1 = "" ]
	then
		pwd | xclip
	else
		# Source: https://stackoverflow.com/a/5265775/9157799
		readlink -f $1 | xclip
	fi
}

paste()
{
	pathToCopy=$(xclip -o)

	if [ -d $pathToCopy ] # If it's a directory
	then
		cp -r $pathToCopy .
	else
		cp $pathToCopy .
	fi
}
