#!/bin/bash
git() {
	if [[ "$1" == "add" ]] &&
	   [[ "$2" == "-p" ]] || [[ "$2" == "--patch" ]]
	then
		tabs -c3
		if [[ "$#" -eq 2 ]]
		then
			command git add -p
		else
			command git add -p "$3"
		fi
		tabs -4
		#echo sukses
	else
		command git "$@"
	fi
}

rmd()
{
	pandoc $1 | lynx -stdin
}

dsize()
{
	echo "du -ah --max-depth=1 | sort -hr"
	du -ah --max-depth=1 | sort -hr
}

to()
{
	cd "$1"
	ls
}

gcheck()
{
	inen "$(enin "$1")"
}
