[user]
	email = imambungo@gmail.com
	name = M Imam Pratama
	signingkey = D8E53B8660A159D5
[credential "https://github.com"]
	username = imambungo
[credential]
	helper = cache --timeout=18000
[core]
	pager = less -x1,5
	editor = vim
[alias]
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	root = !pwd # https://stackoverflow.com/a/1890014/9157799
	npm = !npm # git npm start / git npm run dev
	find = !git ls-files | fzf # git find
[commit]
	gpgsign = true
[merge]
	ff = false
[pull]
	ff = true
[init]
	defaultBranch = main
